<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <!-- site CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/site.css')}}">

  <title>Micasense Control</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-3">
        <h1>Micasense Control</h1>
      </div>
    </div>
    <form method="get" action="/setIP">
      <div class="form-group row">
        <label class="col-4 text-right" ref="itemName">Camera IP:</label>
        <input type="text" name="cameraIP" value="{{cameraIP}}">
      </div>

      <div class="row text-center">
          <div class="col-4"></div>
          <input class="col-4 text-center pt-2 pb-2 btn btn-success" id="save_btn" type="submit" value="Set IP">
          <div class="col-4"></div>
      </div>
    </form>
    <div class="col-12 text-center mt-3">
      <h6> </h6>
    </div>
    <form method="get" action="/Allignment">
      <div class="row text-center">
          <div class="col-4"></div>
          <input class="col-4 text-center pt-2 pb-2 btn btn-success" id="allign_btn" type="submit" value="Do Allignment">
          <div class="col-4"></div>
      </div>
    </form>
    <div class="col-12 text-center mt-3">
      <h6> </h6>
    </div>
    <form method="get" action="/StartCapture">
      <div class="row text-center">
          <div class="col-4"></div>
          <input class="col-4 text-center pt-2 pb-2 btn btn-success" id="start_btn" type="submit" value="Start NBI">
          <div class="col-4"></div>
      </div>
    </form>
    <div class="col-12 text-center mt-3">
      <h6> </h6>
    </div>
    <form method="get" action="/StopCapture">
      <div class="row text-center">
          <div class="col-4"></div>
          <input class="col-4 text-center pt-2 pb-2 btn btn-success" id="stop_btn" type="submit" value="Stop NBI">
          <div class="col-4"></div>
      </div>
    </form>
    <div class="col-12 text-center mt-3">
      <h4>Save To USB</h4>
    </div>
    <form method="post" action="/SaveToUSB">
      {% if show_hidden %}
      <div class="col-12 text-center mt-3">
        <p>Sending to USB {{processindex}}/{{totalindex}}</p>
      </div>
      {% endif %}
      <div class="form-group row">
        <label class="col-4 text-right" ref="devices">Device:</label>
        <select name="devices">
            {%for i in range(0, len)%} 
            　<option value="{{Devices[i]}}" {{SelectedDevice[i]}}>{{Devices[i]}}</option>
            {%endfor%} 
          </select>
      </div>
      <div class="row text-center">
          <div class="col-4"></div>
          <input class="col-4 text-center pt-2 pb-2 btn btn-success" id="sb" type="submit" value="Save To USB">
          <div class="col-4"></div>
      </div>
    </form>
    <div class="col-12 text-center mt-3">
      <h4>Format Storage</h4>
    </div>
    <form method="get" action="/ClearStorage">
      <div class="row text-center">
          <div class="col-4"></div>
          <input class="col-4 text-center pt-2 pb-2 btn btn-success" id="sb" type="submit" value="Clear Storage">
          <div class="col-4"></div>
      </div>
    </form>

  </div>

  <script src="{{url_for('static',filename='js/jquery-3.3.1.slim.min.js')}}"> </script>
  <script src="{{url_for('static',filename='js/popper.min.js')}}"> </script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"> </script>
  <script>

    $("#sb").on('click',function(){
      alert('Sending To USB, Refresh to See progress');
    });
    $("#tarea").change(function(){
      inputString = $("#tarea").val().split("\n")
      $('#sb').attr('disabled', false);
      $("#tarea").css("background-color", "white");
      if(inputString.length>3){
        $('#sb').attr('disabled', true);
        $("#tarea").css("background-color", "pink");
        alert("出口商文字不可超過3行，請修正")
      }
      for (index = 0; index < inputString.length; index++) {
        if(inputString[index].replace(/[^\x00-\xff]/g,"xx").length>14){
          $('#sb').attr('disabled', true);
          $("#tarea").css("background-color", "pink");
          alert("每行字數不可超過7個中文字或14個英文字，請修正")
        }
      }
    });

  </script>
</body>

</html>
